<main class="flex flex-around items-center flex-col text-white h-screen">
  @if (hasBeenUpdated) {
    <div (click)="closeUpdate()" class="fixed inset-0 bg-black/50 z-50"></div>
    <div class="z-51 bg-white flex flex-col rounded border-1 p-1">
      <span id="" class="block whitespace-pre-wrap text-black">{{ serverLog }}</span>
      <button
        (click)="closeUpdate()"
        class="transition-all duration-100 z-51 cursor-pointer border-1 rounded-xl hover:rounded bg-blue-600 text-white hover:bg-white hover:text-blue-600"
      >
        ok
      </button>
    </div>
  }
  @if (confirmationRequired) {
    <div
      id="modalBackdrop"
      (click)="closeConfirmation()"
      class="fixed inset-0 bg-black/50 z-50 fixed flex flex-col justify-center items-center"
    ></div>
    <div class="fixed flex flex-col inset-0 justify-center items-center z-50 pointer-events-none">
      <div
        class="text-center bg-white p-5 rounded-lg z-51 border-1 text-black pointer-events-auto"
        id="modal"
      >
        Une carte nommée "{{ formulaire.value.nom }}" existe déjà. Êtes-vous sur de vouloir la
        remplacer?
        <div class="flex flex-row justify-around">
          <button
            (click)="confirmOverwrite()"
            class="transition-all duration-200 m-1 p-1 cursor-pointer border-black border-1 bg-red-600 text-white hover:tracking-[2px] hover:text-red-600 hover:bg-white"
          >
            overwrite
          </button>
          <button
            (click)="closeConfirmation()"
            class="transition-all duration-200 m-1 p-1 cursor-pointer border-black border-1 bg-gray-600 text-white hover:tracking-[2px] hover:text-black hover:bg-white"
          >
            cancel
          </button>
        </div>
      </div>
    </div>
  }
  <div class="rounded-xl border-1 m-20 2xl:m-30 p-5 bg-black/80 2xl:scale-150">
    <span class="">
      Vous pouvez ajouter une carte à la base de données par le biais de ce formulaire.
    </span>
    <form [formGroup]="formulaire" class="flex flex-col">
      <label class="flex" for="nom"
        ><span class="block w-xs">nom</span>
        <input
          id="nom"
          class="border-black-500 border-1"
          type="text"
          formControlName="nom"
          placeholder="- - - -"
        />
      </label>

      <label class="flex" for="effet"
        ><span class="block w-xs">effet</span>
        <input
          id="effet"
          class="border-black-500 border-1"
          type="text"
          formControlName="effet"
          placeholder="- - - -"
        />
      </label>

      <label class="flex" for="description"
        ><span class="block w-xs">description</span>
        <input
          id="description"
          class="border-black-500 border-1"
          type="text"
          formControlName="description"
          placeholder="- - - -"
        />
      </label>

      <label class="flex" for="type"
        ><span class="block w-xs">type</span>
        <select
          id="type"
          class="border-black-500 border-1 text-white"
          formControlName="type"
          placeholder="- - - -"
        >
          <option class="text-black" value="">- - - -</option>
          <option class="text-black" value="créature">créature</option>
          <option class="text-black" value="éphémère">éphémère</option>
          <option class="text-black" value="rituel">rituel</option>
        </select>
      </label>

      @if (formulaire.value.type === 'éphémère' || formulaire.value.type === 'rituel') {
        <label class="flex" for=""
          ><span class="block w-xs text-gray-400">atk</span>
          <input
            class="border-gray-400 border-1"
            type="number"
            placeholder="- - - -"
            formControlName="atk"
            [disabled]="true"
          />
        </label>

        <label class="flex" for=""
          ><span class="block w-xs text-gray-400">pdv</span>
          <input
            class="border-gray-400 border-1"
            type="number"
            placeholder="- - - -"
            formControlName="pdv"
            [disabled]="true"
          />
        </label>
      } @else {
        <label class="flex" for="atk"
          ><span class="block w-xs">atk</span>
          <input
            id="atk"
            class="border-black-500 border-1"
            type="number"
            formControlName="atk"
            placeholder="- - - -"
          />
        </label>

        <label class="flex" for="pdv"
          ><span class="block w-xs">pdv</span>
          <input
            id="pdv"
            class="border-black-500 border-1"
            type="number"
            formControlName="pdv"
            placeholder="- - - -"
          />
        </label>
      }

      <label class="flex" for="cout"
        ><span class="block w-xs">cout</span>
        <input
          id="cout"
          class="border-black-500 border-1"
          type="number"
          formControlName="cout"
          placeholder="- - - -"
        />
      </label>

      <label for="image" class="flex flex-row hover:cursor-pointer"
        ><span class="block w-xs">image</span>
        <div class="border-1">cliquez pour choisir une image</div>
        <input
          id="image"
          class="border-black-500 border-1 hover:cursor-pointer hidden"
          type="file"
          accept="image/*"
          (change)="getFile($event)"
          placeholder="- - - -"
        />
      </label>
    </form>
    @if (!formulaire.valid) {
      <button
        (click)="alertNotValid()"
        class="hover:cursor-pointer hoverbg-gray-200 border-2 border-black-500 text-gray-400 rounded-lg mx-10"
      >
        créer
      </button>
    } @else {
      <button
        (click)="sendForm()"
        [disabled]="!formulaire.valid"
        class="transition-all duration-200 hover:cursor-pointer hover:bg-white hover:tracking-wider text-black bg-gray-200 border-2 border-black-500 rounded-lg mx-10"
      >
        créer
      </button>
    }
  </div>
</main>
