<header class="w-full text-lg 2xl:text-xl bg-black/80 text-white text-center border-white border-b">
  Voici notre catalogue de cartes. Vous pouvez librement éditer chaque carte en cliquant dessus.
</header>
<main class="flex flex-wrap">
  @if (selectedCard) {
    <div
      class="fixed inset-0 flex justify-center items-center max-xl:flex-row xl:flex-col 2xl:scale-130"
    >
      <div id="modalBackdrop" class="fixed inset-0 bg-black/60 z-0" (click)="closeOverlay()"></div>
      <form
        [formGroup]="formulaire"
        class="m-1 border-1 w-71 bg-gray-700 text-white z-1 rounded border-2"
        data-cy="cardInForm"
      >
        <div class="flex justify-between w-71 h-7">
          <input
            type="text"
            id="inputNom"
            formControlName="nom"
            class="px-1"
            placeholder="Veuillez entrer un nom"
            value="{{ selectedCard.nom }}"
            required
          />
          <input
            type="number"
            class="px-1 border-black border-l-1 w-11"
            value="{{ selectedCard.cout }}"
            placeholder="???"
            formControlName="cout"
            id="inputCout"
          />
          <input formControlName="id" class="hidden" type="text" />
        </div>

        <img
          ngSrc="https://cardsback-young-bush-4086.fly.dev/{{ selectedCard.image }}"
          alt="image"
          width="200"
          height="200"
          class="object-cover w-71 h-50 border-1 bg-black"
        />
        <label for="fichier" class="hover:cursor-pointer bg-gray-600 block"
          >cliquez ici pour choisir une autre image
        </label>
        <input
          id="fichier"
          class="border-black-500 border-b w-70 hover:cursor-pointer bg-gray-600"
          type="file"
          (change)="setFile($event)"
          placeholder=""
        />
        <select class="border-r" formControlName="type" id="inputType">
          <option value="{{ selectedCard.type }}" selected disabled>{{ selectedCard.type }}</option>
          <option value="créature">créature</option>
          <option value="éphémère">éphémère</option>
          <option value="rituel">rituel</option>
        </select>
        <div
          id="texts"
          class="flex flex-col justify-around w-70 border-t border-b bg-gray-700 text-white"
        >
          <textarea
            type="input"
            class=""
            value="{{ selectedCard.effet }}"
            placeholder="effet (facultatif)"
            formControlName="effet"
            id="inputEffet"
          ></textarea>
          <textarea
            type="input"
            class="bg-gray-700 text-white"
            value="{{ selectedCard.description }}"
            placeholder="description (facultatif)"
            formControlName="description"
            id="inputDescription"
          ></textarea>
        </div>
        <div id="stats" class="flex justify-between bg-gray-700 text-white">
          <div></div>
          <div class="flex px-1">
            <input
              type="number"
              class="w-10 border-l-1 border-black"
              value="{{ selectedCard.atk }}"
              placeholder="???"
              formControlName="atk"
              id="inputAtk"
            />
            <span class="whitespace-pre"> </span>
            <input
              type="number"
              class="w-10 border-l-1 border-black"
              value="{{ selectedCard.pdv }}"
              placeholder="???"
              formControlName="pdv"
              id="inputPdv"
            />
          </div>
        </div>
      </form>
      <div id="buttons" class="z-52 p-2 flex max-xl:flex-col xl:flex-row">
        <button
          class="transition-all duration-100 z-52 cursor-pointer border-1 mx-1 rounded-lg hover:rounded bg-blue-600 text-white hover:bg-white hover:text-blue-600"
          (click)="confirmChanges()"
          data-cy="confirmButton"
        >
          confirmer les modifications
        </button>
        <button
          class="transition-all duration-100 z-52 cursor-pointer border-1 mx-1 rounded-lg hover:rounded bg-green-600 text-white hover:bg-white hover:text-green-600"
          (click)="closeOverlay()"
          data-cy="cancelButton"
        >
          annuler
        </button>
      </div>
      <div class="z-52">
        <button
          class="transition-all duration-100 z-52 cursor-pointer border-1 mx-1 rounded-lg hover:rounded bg-red-600 text-white hover:bg-white hover:text-red-600"
          (click)="deleteCard()"
          data-cy="deleteButton"
        >
          supprimer la carte
          <svg
            class="inline mx-1"
            width="40px"
            height="40px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 6H21M5 6V20C5 21.1046 5.89543 22 7 22H17C18.1046 22 19 21.1046 19 20V6M8 6V4C8 2.89543 8.89543 2 10 2H14C15.1046 2 16 2.89543 16 4V6"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M14 11V17"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10 11V17"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
  }

  @for (c of cards(); track c.id) {
    <article
      class="m-3 border-3 border-black w-71 h-100 bg-gray-700 text-white cursor-pointer rounded"
      (click)="openInOverlay(c.id)"
      data-cy="cardInList"
    >
      <div class="flex justify-between w-71 h-7">
        <div class="px-1" data-cy="nom">{{ c.nom }}</div>
        <div class="px-1" data-cy="cout">{{ c.cout }}</div>
      </div>

      <img
        ngSrc="https://cardsback-young-bush-4086.fly.dev/{{ c.image }}"
        alt="image"
        width="200"
        height="200"
        class="object-contain w-71 h-50 border-1 border-black bg-black"
      />

      <div class="border-b border-red-500">{{ c.type }}</div>
      <div class="flex flex-col justify-around w-70 h-30 border-b-1 border-red-500 overflow-y-auto">
        @if (c.effet && c.effet != 'N/A') {
          <div class="" data-cy="effet">{{ c.effet }}</div>
        } @else {
          <div class="" data-cy="effet">sans effet</div>
        }

        <div class="mx-20 border-1 border-red-500"></div>

        <div class="" data-cy="description">
          @if (c.description && c.description != 'N/A') {
            <i>{{ c.description }}</i>
          } @else {
            <i>description indisponible</i>
          }
        </div>
      </div>

      <div class="flex justify-between">
        <div></div>
        <div class="flex px-1">
          <div class="" data-cy="atk">{{ c.atk }}</div>
          <span class="whitespace-pre text-red-500"> | </span>
          <div class="" data-cy="pdv">{{ c.pdv }}</div>
        </div>
      </div>
    </article>
  }
</main>
