/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
.customBG {
  background: url(./carte\ 45.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}
